.main_chat
  .main_chat__main-header
    .header-group
      .header-group__group-name test
      %ul.header-group__member-list
        Member : 
        %li.header-group__member
          masa
    =link_to "＃", class: "group-info__edit" do
      ="Edit"
  .main_chat__message-list
    .message-box
      .message-info
        .message-info__user-name
          masa
        .message-info__created-at
          2019/11/20(web) 09:43:01
      .message
        おはよう！
    .message-box
      .message-info
        .message-info__user-name
          masa
        .message-info__created-at
          2019/11/21(thu) 19:44:01
      .message
        こんばんは！
  .main_chat__message-form
    .input-box
      %input{type: "text", class: "input-box__text", placeholder: "type a message"}
      %label{class: "input-box__image"}
        =icon('fas', 'image')
        %input{type: "file", class: "input-box__image__file"}
    %input{type: "submit", class: "submit-btn"}